<mat-nav-list class="dashboard">
  <a mat-list-item class="item">
    <mat-icon mat-list-icon>home</mat-icon>
    <p matLine>Home</p>
  </a>

  <a mat-list-item class="item">
    <mat-icon mat-list-icon>whatshot</mat-icon>
    <p matLine>
      Trending
    </p>
  </a>
  <a mat-list-item class="item">
    <mat-icon mat-list-icon>subscriptions</mat-icon>
    <p matLine>Subscriptions</p>
  </a>

  <mat-divider></mat-divider>
  <a mat-list-item class="item">
    <mat-icon mat-list-icon>video_library</mat-icon>
    <p matLine>Library</p>
  </a>

  <div>
    <a mat-list-item class="item">
      <mat-icon mat-list-icon>history</mat-icon>
      <p matLine>History</p>
    </a>
    <a mat-list-item class="item">
      <mat-icon mat-list-icon>watch_later</mat-icon>
      <p matLine>Watch Later</p>
    </a>
    <a mat-list-item class="item">
      <mat-icon mat-list-icon>thumb_up</mat-icon>
      <p matLine>Liked Videos</p>
    </a>

    <mat-divider></mat-divider>
  </div>
</mat-nav-list>
