
    <mat-card class="example-card" routerLink="/video">
      <img mat-card-image src="https://i.ytimg.com/vi/72unDAR0U-8/maxresdefault.jpg" alt="">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Youtube Clone Using Spring Boot and Angular</mat-card-title>
        <mat-card-subtitle class="subtitles">Programming Techie</mat-card-subtitle>
        <mat-card-subtitle class="subtitles">1M views</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
