.sidenav-container {
  flex: 1;
  width: 100%;
  min-width: 100%;
  height: 99%;
  min-height: 99%;
}

.sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12rem;
}
