<div fxLayout="row">
  <div fxFlex="65%" class="video-detail">
    <div fxLayout="column" fxLayoutGap="8px">
      <app-video-player *ngIf="videoUrlAvailable" [videoUrl]="videoUrl"></app-video-player>
      <div class="mat-title">Youtube Clone Using Spring Boot and Angular</div>
      <div fxLayout="row">
        <div fxFlex="50%">
          <span class="view-count">10,100 Views</span>
          <span class="dot"></span>
          <span class="video-upload-date">Apr 13, 2021</span>
        </div>
        <div fxFlex="50%" fxLayoutAlign="end">
          <span class="like-dislike-section">
              <button mat-icon-button class="thumbs-up"
                      (click)="likeVideo()"
                      aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>thumb_up_off_alt</mat-icon>
                {{likeCount}}
              </button>
              <button mat-icon-button class="thumbs-down"
                      (click)="dislikeVideo()"
                      aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>thumb_down_off_alt</mat-icon>
                {{dislikeCount}}
              </button>
          </span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Programming Techie</mat-card-title>
        <mat-card-subtitle class="subtitles">4.2K Subscribers</mat-card-subtitle>
        <button *ngIf="showSubscribeButton" class="subscribe-button" mat-raised-button color="warn" (click)="subscribeToUser()">SUBSCRIBE</button>
        <button *ngIf="showUnSubscribeButton" class="subscribe-button-clicked" mat-raised-button color="accent">
          SUBSCRIBED
        </button>
      </mat-card-header>
      <app-video-description></app-video-description>
      <mat-divider></mat-divider>
      <app-comments></app-comments>
    </div>
  </div>
  <div fxFlex="5%"></div>
  <div fxFlex="30%" class="suggestion-bar">
    <app-suggestion-bar></app-suggestion-bar>
  </div>
</div>
